.product {
  display: flex;
  flex-direction: column;
  background-color: var(--tg-theme-button-color);
  box-shadow: 0 0 5px grey;
  padding: 20px;
  width: 120px;
  margin: 10px 10px;
  border-radius: 20px;
}

.img img{
  width: 100%;
  background-color: lightgrey;
  height: 100px;
  margin: 0 auto;
  background: var(--tg-theme-button-color);
}

.description {
  font-size: 0.8em;
}

.add-btn {
  width: 100%;
  padding: 5px 10px;
  margin: 10px auto;
  color: var(--tg-theme-text-color);
  display: block;
  box-shadow: 0 0 5px white;
  border-radius: 20px;
  background-color: var(--tg-theme-button-color);
}
